<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <link rel="stylesheet" href="/app.css" />
</head>

<body>

  <main id="root" class="container"></main>

  <div class="dropdown" id="rmenu1">
    <ul class="dropdown-menu" id="my-menu1" role="menu" aria-labelledby="menu1">
      <li>
        <a href="#" id="deleteFolder"><i class="fa fa-trash"></i> Borrar carpeta</a>
        <a href="#" id="renameFolder"><i class="fa fa-folder"></i> Renombar</a>
      </li>
    </ul>
  </div>

  <div class="dropdown" id="rmenu2">
    <ul class="dropdown-menu" id="my-menu2" role="menu" aria-labelledby="menu1">
      <li>
        <a href="#" id="uploadFile">
          <div id="fileName" class="fileUpload">
            <span><i class="fa fa-upload"></i> Subir archivo</span>
            <input type="file" name="files" id="filesSystem" class="upload" multiple="" />
          </div>
        </a>
      </li>
    </ul>
  </div>

  <script type="application/javascript" src="/app.js"></script>
</body>

</html>