@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

.listContent {
  margin-top: 25px;
}

.show {
  z-index:1000;
  position: absolute;
}

.dropdown {
  position: absolute;
}

#uploadFile {
  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;

    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

.fileStyleList:hover {
  cursor: default;
  color: skyblue;
}
